*,
*::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 800px;
  height: inherit;
  position: relative;
}

html,
body {
  height: 100%;
}

.page-title::after {
  content: "";
  z-index: 2;
  cursor: pointer;
}

.page-title {
  text-align: center;
  z-index: 1;
  align-content: flex-start;
  margin: 0 auto;
  font-family: raleway;
  width: 730px;
  height: 408px;
  font-size: 116px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  position: absolute;
}

.page-title:hover {
  color: #4c4c4c;
}

.page-title:hover + video {
  background: #ffffff;
  opacity: 0.7;
}

.page-title:hover::before {
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  position: absolute;
  text-transform: uppercase;
  font-weight: 2000;
  border: 1px;
  border-radius: 20px;
  box-shadow: black 0 6px;
  background-color: white;
  width: 48%;
  height: 10%;
  font-size: 0.2em;
  padding: 1.5%;
  color: black;
  top: 20%;
  left: 50%;
  z-index: 1;
}
